{% extends "base.html" %}
{% load static %}
{% block content %}


{% comment %} {% load static %}
{% now "Y-m-d" as today_date %}
{% now "H:i" as current_time %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<!-- Page Title -->
	<title> {{ wedding.bride }} and {{ wedding.groom }} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	
	<meta name="keywords" content="one-page, single page, multi-page, wedding template, retina ready, responsive, modern html5 template, bootstrap, css3, wedding, venue">
	<meta name="description" content="Neela - Responsive One/Multi-Page Wedding HTML5 Template">
	<meta name="author" content="Wisely Themes">
	
	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Fav and touch icons -->
	<link rel="icon" href="images/fav_touch_icons/favicon.ico" sizes="any">
	<link rel="icon" href="images/fav_touch_icons/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="images/fav_touch_icons/apple-touch-icon-180x180.png">
	<link rel="manifest" href="images/fav_touch_icons/manifest.json">
	
	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
	
	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- FontAwesome CSS -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" />

    <!-- Neela Icon Set CSS -->
    <link href="{% static 'css/neela-icon-set.css' %}" rel="stylesheet" />

    <!-- Owl Carousel CSS -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" />

    <!-- Template CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
    
</head>
<body>

	<!-- BEGIN PRELOADER -->
	<div id="preloader">
		<div class="loading-heart">
			<svg viewBox="0 0 512 512" width="100">
				<path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
			</svg>
			<div class="preloader-title">
				<span style="font-size: 20px;">{{wedding.bride}}</span><br>
				<small>&</small><br>
				<span style="font-size: 20px;">{{wedding.groom}}</span>
			</div>
			
		</div>
	</div>
	<!-- END PRELOADER -->


	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
	
		<!-- BEGIN HEADER -->
		<header id="header">
			<div class="nav-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<a href="{% url 'home' %}" class="nav-logo"><img src="{{ media.logo.url }}" alt="Logo" /></a>
							
							<!-- BEGIN MAIN MENU -->
							<nav class="navbar">
								
								<ul class="nav navbar-nav">
								
									<li><a href="{% url 'home' %}">Home</a></li>
										
										
	
									<li><a href="{% url 'index' %}">Wedding Details</a></li>
	
									<li><a class="active" href="{% url 'messages' %}">Messages</a></li>
								
									<li><a class="active" href="{% url 'submit_rsvp' %}">RSVP</a></li>
									
								</ul>
								
								<button id="nav-mobile-btn"><i class="fas fa-bars"></i></button><!-- Mobile menu button -->
							</nav>
							<!-- END MAIN MENU -->
							
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END HEADER --> {% endcomment %}
		
		
		
		
		{% include "includes/homehero.html" %}

		{% include "includes/bridegroom.html" %}
		
		
		
		<!-- BEGIN WEDDING DETAILS SECTION -->
		<section id="wedding-details" class="bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wedding-details light">
						<br>
						<i class="fa-solid fa-church fa-lg"></i>
						<h4>Ceremony<small> 10:00 AM - 1:00 PM</small></h4>
						<p>{{wedding.ceremony_venue}}<br>{{wedding.ceremony_location}}</p>
					</div>
					
					<div class="col-md-4 wedding-details light">
						<br>
						<i class="fa-solid fa-champagne-glasses fa-lg"></i>
						<h4>Reception<small>02:00 PM - 04:30 PM</small></h4>
						<p>{{wedding.reception_name}}<br>{{wedding.reception_location}}</p>
					</div>

					<div class="col-md-4 wedding-details light">
						<br>
						<i class="fa-solid fa-clipboard-user fa-lg"></i>
						<h4>Coming?<small> <br> PLEASE <br> CONFIRM YOUR ATTENDANCE<br>ON OR BEFORE 25th OF MARCH</small></h4>
						
						<a href="{% url 'submit_rsvp' %}" class="btn btn-light">RSVP</a>
					</div>
					
				</div>
			</div>
			
		</section>
		<!-- END WEDDING DETAILS SECTION -->
		

		<!-- BEGIN WEDDING LOCATION SECTION -->
		<section id="location">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title">Location</h2>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-xl-10 offset-xl-1">							
							<div class="map-wrapper" data-animation-direction="fade" data-animation-delay="100">
								<div class="mapouter">
									<div class="gmap_canvas">
										<iframe class="gmap_iframe"
										width="100%" frameborder="0"
										scrolling="no"
										marginheight="0"
										marginwidth="0"
										src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=ack st francis karen&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
									</iframe>
									<a href="https://sprunkin.com/">Maps</a>
								</div>
							
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<!-- END WEDDING LOCATION SECTION -->
		
		
{% endblock %}